#goTop{
    z-index:999;
    display:none;
    position:fixed;
    margin-top:580px;
    margin-left:1280px;
    width:40px;
    height:40px;
    border-radius:6px;
    cursor:pointer
}
#goTop #img{
    width:40px;
    height:40px;
}

.pic-preview{
    text-align: center;
    height:324px;
    width:484px;
    border:2px solid black;
    border-radius:5px;
}
.pic-preview img{
    border-radius:2px;
    max-height:320px;
    max-width:480px;
}
