
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tupin - 个人</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- base
	<base href="/tupin/static/">-->

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts
	<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.useso.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>-->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Own Style -->
	<link rel="stylesheet" href="css/tupin.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="fh5co-offcanvass">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
		<h1 class="fh5co-logo"><a class="navbar-brand" href="home">TUPIN</a></h1>
		<ul>
			<li><a href="personal"> 朝花夕拾 </a></li>
			<li><a href="personal-album"> 上传相册 </a></li>
			<li class="active"><a href="personal-blog"> 上传随笔 </a></li>
			<li><a href="personal-cover"> 上传封面 </a></li>
			<li><a href="personal-music"> 上传音乐 </a></li>
			<li><a href="home"> 拾 零 </a></li>
			<li><a href="album"> 宫 格 </a></li>
			<li><a href="tag-summary"> 随 笔 </a></li>
			<li><a href="personal"> 个 人 </a></li>
			<li><a href="about"> 关于本站 </a></li>
		</ul>
	</div>

	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
					<a class="navbar-brand" href="personal-blog">上传随笔</a>
				</div>
			</div>
		</div>
	</header>
	<!-- END .header -->



	<div id="fh5co-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form action="blog-upload" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<h3> TITLE </h3>
							<input type="text" name="title" class="form-control"/>
						</div>

						<div class="form-group">
							<h3> THEME </h3>
							<select name="theme" class="form-control">
								<option value ="HardWare">HardWare</option>
								<option value ="JavaEE">JavaEE</option>
								<option value="JavaSE">JavaSE</option>
								<option value="Exercise">Exercise</option>
								<option value="Other">Other</option>
								<option value="Life">Life</option>
							</select>
						</div>

						<div class="form-group">
							<h3> SUMMARY </h3>
							<textarea type="text" name="summary" class="form-control" rows="4"></textarea>
						</div>

						<div class="form-group">
							<h3> 选择你要上传的MarkDown文件 </h3>
							<input type="file" name="fblog"/>
						</div>

						<div>
							<input type="submit" value="submit" class="btn btn-default"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="fh5co-social-icons">
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-dribbble"></i></a>
						<a href="#"><i class="icon-youtube"></i></a>
					</p>
					<p><small>&copy; 2018 Develop By XLONG<br/>Hydrogen Free HTML5 Template | All Rights Reserved. </small></p>
				</div>
			</div>
		</div>
	</footer>


	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>

	<script>
		$(function(){

            $('input[type=submit]').click(function(){
                if($('input[name=title]').val() == "" || $('input[name=title]').val() == null){
                    alert("请输入文章标题！");
                    return false;
				}

                if($('textarea[name=summary]').val() == "" || $('textarea[name=summary]').val() == null){
                    alert("请输入文章概要！");
                    return false;
                }

                if($('input[type=file]').val() == "" || $('input[type=file]').val() == null){
                    alert("请先选择要上传的Markdown文件!");
                    return false;
                }

            });

		})
	</script>
	
	</body>
</html>
